APP_NAME=SGDI FastAPI Backend
APP_ENV=production
APP_DEBUG=false
LOG_LEVEL=INFO
API_PREFIX=/api
ALLOW_PUBLIC_REGISTRATION=false

DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=720
ADMIN_INITIAL_USERNAME=
ADMIN_INITIAL_PASSWORD=
ADMIN_SYSTEM_USERNAME=
ADMIN_SYSTEM_PASSWORD=
